.form-label {
	display: block;
	font-family: "Nunito";
	color: #4A4A4A;
	margin-top: 2rem;
	margin-bottom: 0.5rem;
}

.form-input {
	font-family: "Nunito";
	font-size: 1.2rem;
	border: 1px #B2B5BA solid;
	width: 65%;
	height: 3rem;
}

.form-textarea {
	font-family: "Nunito";
	font-size: 1.2rem;
	border: 1px #B2B5BA solid;
	width: 65%;
}